/* Base Colors throughout webpage */
:root {
  --blue: #36a0a5;
  --white: #fffbf0;
  --darkblue: rgb(37, 93, 121);
}
/* ----------------------------Main Elements in order of page (top-down)------------------------- */
header {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  background-color: var(--blue);
  margin: 0;
}

body {
  padding: 0px;
  margin: 0;
  background-color: var(--white);
  color: #254450;
}

main {
  margin-top: 4em;
  padding-right: 1em;
}

img {
  border: 4px solid var(--blue);
  border-radius: 0.5em;
}

p {
  font-size: 16pt;
}

footer {
  height: 6rem;
  background-color: var(--blue);
}

/* ----------------------------Classes------------------------- */

.contact {
  display: inline-block;
}

.contact-info {
  font-size: 15pt;
  margin: 0px 30px;
  text-decoration: none;
  color: var(--darkblue);
}

.github {
  position: relative;
}

.linkedin {
  position: relative;
}

.mail {
  position: relative;
}

.mail::before {
  position: absolute;
  content: "\2709";
  font-size: 45pt;
  bottom: -0.3em;
  left: -2.5rem;
}

/* fixed gab between hovering */
.menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.menu-button {
  height: 2.5rem;
  margin: 28px 20px;
  background-color: var(--blue);
  border-color: var(--white);
}

/* color/dimensions for logo lines */
.menu-botton-logo {
  background-color: var(--white);
  margin: 5px 5px;
  width: 1.5rem;
  height: 0.2rem;
}

/* Dropdown Content (Hidden by Default) */
.menu-content {
  display: none;
  position: absolute;
  top: 5rem;
  padding: 0;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
}

/* Links inside the dropdown */
.menu-content a {
  color: #254450;
  padding: 15px 22px;
  text-decoration: none;
  display: block;
}

.name-container {
  display: flex;
  align-self: center;
}

.name-container img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border: none;
  border-radius: 150px;
}
.project-link {
  position: absolute;
  font-size: 30pt;
  top: 1em;
  border-radius: 0.5rem;
  background: var(--blue);
  border: 4px solid var(--blue);
  opacity: 1;
  color: var(--white);
  text-decoration: none;
  z-index: 3;
}

.project-github {
  position: absolute;
  bottom: 4em;
  right: -0.3em;
  border-radius: 0.5rem;
  font-size: 20pt;
  background: var(--blue);
  border: 4px solid var(--blue);
  opacity: 1;
  color: var(--white);
  text-decoration: none;
  z-index: 3;
}

.row-1 {
  display: flex;
  position: relative;
  justify-content: center;
}

.row-2 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.section {
  margin: 50px 0px;
  display: flex;
}

.section-title {
  border-right: 2px solid var(--darkblue);
  flex: 1;
  margin-left: 1rem;
  padding: 5px 30px 0px 5px;
  font-size: 20pt;
}

.section-title h2 {
  text-align: center;
}

.section-content {
  flex: 4.5;
  width: 100%;
  padding: 5px 40px;
  margin-left: 2em;
}

.sub-project {
  position: relative;
  margin: 0 7px;
}

.sub-project img {
  width: 100%;
  height: 100%;
}

/* -------------------------ID's----------------------------  */

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#github-logo {
  position: absolute;
  border: none;
  border-radius: 0;
  width: 1.7em;
  left: -2em;
  bottom: -0.1em;
}

#linkedin-logo {
  position: absolute;
  border: none;
  border-radius: 0;
  width: 1.5em;
  left: -1.8em;
  bottom: -0.1em;
}

#horiseon-link {
  position: absolute;
  top: 1em;
  left: -0.08em;
  border-radius: 0.5rem;
  font-size: 30pt;
  background: var(--blue);
  border: 4px solid var(--blue);
  opacity: 1;
  color: var(--white);
}

#horiseon-github {
  position: absolute;
  bottom: 6em;
  right: -0.15em;
  border-radius: 0.5rem;
  font-size: 16pt;
  background: var(--blue);
  border: 4px solid var(--blue);
  opacity: 1;
  color: var(--white);
  text-decoration: none;
  z-index: 3;
}

#horiseon-link:hover,
#horiseon-github:hover {
  border: 4px solid rgb(47, 203, 220);
  border-radius: 0.5rem;
}

#image-1 {
  width: 100%;
  height: 100%;
}

#link-2 {
  position: absolute;
  padding-left: -11rem;
}
#link-3 {
  position: absolute;
}

#name {
  color: var(--white);
  padding-right: 10px;
  font-size: 40pt;
  margin: 0px;
  align-self: flex-end;
}

/* -------------HOVER--------------------------------- */

/* hovering over menu allows content to appear */
.menu:hover .menu-content {
  display: block;
}
/* hovering over each link will slightly highlight background-color */
.menu-link:hover {
  background-color: #fffdf7;
}
/* as background-color lightens font-color changes dark blue to lighter blue */
.menu-link:hover a {
  color: var(--blue);
}

/* -------------------------MEDIA QUERIES-------------------------- */

@media screen and (min-width: 550px) {
  body {
    width: 100%;
  }
}
/* --------------------------------- */
@media screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }
  .menu-content {
    display: flex;
    position: relative;
    background: transparent;
    margin-left: 1em;
    top: 0.5em;
    border-radius: 50px;
  }
  .menu:hover .menu-content {
    display: flex;
  }
  .menu-link:hover {
    background-color: #fffdf7;
    border-radius: 50px;
  }
}
/* ------------------------------------ */
@media screen and (max-width: 2350px) {
  #horiseon-link {
    font-size: 60pt;
    left: -0.01em;
  }
}
@media screen and (max-width: 1600px) {
  #horiseon-link {
    font-size: 50pt;
    left: -0.05em;
  }
}
@media screen and (max-width: 1400px) {
  #horiseon-link {
    font-size: 40pt;
    left: -0.01em;
  }
}
@media screen and (max-width: 1200px) {
  #horiseon-link {
    font-size: 30pt;
    left: -0.01em;
  }
}
@media screen and (max-width: 800px) {
  #horiseon-link {
    left: -0.1em;
    font-size: 20pt;
  }
}
/* ------------------------------------ */
@media screen and (max-width: 2350px) {
  #horiseon-github {
    font-size: 40pt;
    right: -0.1em;
  }
}
@media screen and (max-width: 1600px) {
  #horiseon-github {
    font-size: 30pt;
  }
}
@media screen and (max-width: 1400px) {
  #horiseon-github {
    font-size: 20pt;
  }
}
@media screen and (max-width: 1200px) {
  #horiseon-github {
    font-size: 18pt;
  }
}
@media screen and (max-width: 800px) {
  #horiseon-github {
    font-size: 14pt;
    right: -0.2em;
    bottom: 3em;
  }
}

/* ------------------------------------- */
@media screen and (max-width: 2350px) {
  .project-link {
    font-size: 40pt;
    left: 0.01em;
  }
}
@media screen and (max-width: 1600px) {
  .project-link {
    font-size: 30pt;
    left: 0.01em;
  }
}
@media screen and (max-width: 1400px) {
  .project-link {
    font-size: 20pt;
    left: 0.01em;
  }
}
@media screen and (max-width: 1200px) {
  .project-link {
    font-size: 18pt;
    left: 0.01em;
  }
}
@media screen and (max-width: 800px) {
  .project-link {
    font-size: 12pt;
    left: 0.01em;
  }
}

/* -------------------------------------- */

@media screen and (max-width: 2350px) {
  .project-github {
    font-size: 30pt;
    right: -0.15em;
  }
}
@media screen and (max-width: 1600px) {
  .project-github {
    font-size: 25pt;
  }
}
@media screen and (max-width: 1400px) {
  .project-github {
    font-size: 20pt;
  }
}
@media screen and (max-width: 1200px) {
  .project-github {
    font-size: 18pt;
    bottom: 2em;
  }
}
@media screen and (max-width: 800px) {
  .project-github {
    bottom: 1em;
    right: -0.5em;
    font-size: 12pt;
  }
}
/* ------------------------------------ */

@media screen and (max-width: 1000px) {
  .row-2 {
    display: block;
    justify-content: center;
  }
}
/* ------------------------------------- */

@media screen and (max-width: 950px) {
  .contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 950px) {
  .section-title {
    flex: 1.5;
  }
}
