/* Base Colors throughout webpage */
:root {
    --blue: #36A0A5;
    --white: #FFFBF0;
    --darkblue: rgb(37, 93, 121);
}


body {
    padding: 0px;
    margin: 0;
    background-color: var(--white);
    color: #254450;
}
@media screen and (min-width: 550px) {
    body {
        width: 100%;
    }
}

/* Divided between Nav and Name/profile pic */
header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: var(--blue);
    margin: 0;
}

/* fixed gab between hovering */
.menu {
    position: relative;
    display: inline-block;

}


/* Dropdown Button */
.menu-button {
    height: 2.5rem;
    margin: 28px 20px;
    background-color: var(--blue);
    border-color: var(--white);

}

/* color/dimensions for logo lines */
.menu-botton-logo {
    background-color: var(--white);
    margin: 5px 5px;
    width: 1.5rem;
    height: .2rem;
}

  /* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    top: 5rem;
    padding: 0;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    z-index: 1;
}
  
  /* Links inside the dropdown */
.menu-content a {
    color: #254450;
    padding: 15px 22px;
    text-decoration: none;
    display: block;
}
/* hovering over menu allows content to appear */
.menu:hover .menu-content {display: block;}
/* hovering over each link will slightly highlight background-color */
.menu-link:hover {background-color: #FFFDF7;}
/* as background-color lightens font-color changes dark blue to lighter blue */
.menu-link:hover a {color: var(--blue);}

@media screen and (min-width: 900px) {
    .menu-button {
        display: none;
    }
    .menu-content {
        display: flex;
        position: relative;
        background: transparent;
        margin-left: 1em;
        top: .5em;
        border-radius: 50px;
    }
    .menu:hover .menu-content {
        display: flex;
    }
    .menu-link:hover {
        background-color: #FFFDF7;
        border-radius: 50px;
    }
}

.name-container {
    display: flex;
    align-self: center;
}

#name {
    color: var(--white);
    padding-right: 10px;
    font-size: 40pt;
    margin: 0px;
    align-self: flex-end;
}

.name-container img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border: none;
    border-radius: 150px;

}

main {
    margin-top:4em;
    padding-right: 1em;
}

.section {
    margin: 50px 0px;
    display: flex;
}

.section-title {
    border-right: 2px solid black;
    flex: 1;
    margin-left: 1rem;
    padding: 5px 30px 0px 5px;
    font-size: 20pt;
}
@media screen and (max-width: 1000px) {
    .section-title {
        font-size: 15pt;
        margin-left: 3rem;
    }
    @media screen and (max-width: 750px) {
        .section-title {
            font-size: 13pt;
            margin-left: 2rem;
        }
    }
    @media screen and (max-width: 650px) {
        .section-title {
            font-size: 12pt;
            margin-left: .5rem;
        }
    }
}

.section-title h2 {
    text-align: center;
}

.section-content {
    flex: 4;
    width: 100%;
    padding: 5px 40px;
    margin-left: 2em;
}   

p {
    font-size: 16pt;
}

.row-1 {
    display: flex;
    position: relative;
    justify-content: center;
}

img {
    border: 4px solid rgb(37, 93, 121);
    border-radius: 1.3em;
}

#image-1 { 
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.horiseon-link {
    position: absolute;
    width: 4em;
    top: .1rem;
    left: -.2rem;
    border-radius: 1.2rem;
    background: #e9e5df;
    border: 4px solid rgb(37, 93, 121);
    opacity: .9;
    color: rgb(37, 93, 121);
    z-index: 3;
}
.horiseon-link:hover {
    background: #fbfaf7;
    color: rgb(21, 212, 229);
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .horiseon-link {
        font-size: 40pt;
    }
}
@media screen and (max-width: 1200px) {
    .horiseon-link {
        font-size: 40pt;
    }
    @media screen and (max-width: 1000px) {
        .horiseon-link {
            font-size: 35pt;
    }
    @media screen and (max-width: 800px) {
        .horiseon-link {
            font-size: 30pt;
        }
    }
    @media screen and (max-width: 700px) {
        .horiseon-link {
            font-size: 20pt;
            }
        }
    @media screen and (max-width: 650px) {
        .horiseon-link {
            font-size: 15pt;
        }
            
        }
    }
}



.row-2 {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 780px) {
    .row-2 {
        display: block;
    }
}

.images {
    display: inline-block;
    max-width: 50%;
    margin: 15px 5px
}
@media screen and (max-width: 780px) {
    .images {
        margin: 10px 0px;
        max-width: 100%;
    }
}

#link-2 {
    position: absolute;
    padding-left: -11rem;
}
#link-3 {
    position: absolute;
}

.practice {
    display: flex;
    width: 100%;
}

.contact-info {
    border-bottom: 4px solid var(--darkblue);
    font-size: 15pt;
    margin: 0px 10px;
    text-decoration: none;
    color: var(--darkblue)
}

.mail {
    position: relative;
}

.mail::before {
    position: absolute;
    content: "\2709";
    font-size: 38pt;
    bottom: -1.2rem;
    left: -2.2rem;
}

footer {
    height: 6rem;
    background-color: var(--blue);
}

/* Need to fix border radius on the lower two work .images */
/* Put text on image links */
/* figure out the rest of the guidlines */
/* !!!!!!!!!!!!!-------READ ME--------!!!!!!!!!!!!!!!!!! */