/* Base Colors throughout webpage */
:root {
    --blue: #36A0A5;
    --white: #FFFBF0;
}


body {
    padding: 0px;
    margin: 0;
    background-color: var(--white);
}

/* Divided between Nav and Name/profile pic */
header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: var(--blue);
    margin: 0;
}
/* fixed gab between hovering */
.menu {
    position: relative;
    display: inline-block;

}


/* Dropdown Button */
.menu-button {
    height: 2.5rem;
    margin: 28px 20px;
    background-color: var(--blue);
    border-color: var(--white);

}

/* color/dimensions for logo lines */
.menu-botton-logo {
    background-color: var(--white);
    margin: 5px 5px;
    width: 1.5rem;
    height: .2rem;
}

  /* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    top: 5rem;
    padding: 0;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    z-index: 1;
}
  
  /* Links inside the dropdown */
.menu-content a {
    color: #254450;
    padding: 15px 22px;
    text-decoration: none;
    display: block;
}
/* hovering over menu allows content to appear */
.menu:hover .menu-content {display: block;}
/* hovering over each link will slightly highlight background-color */
.menu-link:hover {background-color: #FFFDF7;}
/* as background-color lightens font-color changes dark blue to lighter blue */
.menu-link:hover a {color: var(--blue);}

@media screen and (min-width: 900px) {
    .menu-button {
        display: none;
    }
    .menu-content {
        display: flex;
        position: relative;
        background: transparent;
        margin-left: .5em;
        top: .5em;
        border-radius: 50px;
    }
    .menu:hover .menu-content {
        display: flex;
    }
    .menu-link:hover {
        background-color: #FFFDF7;
        border-radius: 50px;
    }
}

.name-container {
    display: flex;
    align-self: center;
}

#name {
    color: var(--white);
    padding-right: 10px;
    font-size: 40pt;
    margin: 0px;
    align-self: flex-end;
}

.name-container img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border-radius: 150px;

}

main {
    margin-top:4em;
    padding-right: 1em;
}

.section {
    margin: 50px 0px;
    display: flex;
    
}

.section-title {
    border-right: 2px solid black;
    flex: .65;
    margin-left: 5rem;
    padding: 5px 50px 0px 20px;
    font-size: 20pt;
}

.section-title h2 {
    text-align: center;
}

.section-content {
    flex: 4;
    width: 100%;
    padding: 5px 40px;
    margin-left: 2em;
}   

p {
    font-size: 15pt;
}

.row-1 {
    position: relative;
}

.horiseon-link {
    text-decoration: none;
    position: absolute;
    font-size: 30pt;
    margin-left: 10px;
    color: white;
}
.horiseon-link:hover {
    color: grey;
}

img {
    border: none;
    border-radius: 1.5em;
}

#image-1 {
    width: 100%;
    height: 18.75em;
    margin-bottom: .5em;
}

.row-2 {
    display: flex;
    justify-content: center;
}

.images {
    width: 50%;
    height: 15em;
    padding: 5px;
}

footer {
    height: 6rem;
    background-color: var(--blue);
}

/* Need to fix border radius on the lower two work .images */
/* Put text on image links */
/* figure out the rest of the guidlines */
/* !!!!!!!!!!!!!-------READ ME--------!!!!!!!!!!!!!!!!!! */