:root {
    --blue: #5BA2BB;
    --white: #FFF6DF;
}

html {
    background-color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: var(--blue);
}
 /* When i hover next to the .menu-button its triggerin the drop down before i hover over the menu. */
.menu {
    position: relative;
    display: inline-block;
    flex: 1;
}

.blank-header-section {
    flex: 2
}

/* Dropdown Button */
.menu-button {
    height: 2.5rem;
    margin: 20px;
    background-color: var(--blue);
    border-color: var(--white);

}
  
.menu-botton-logo {
    background-color: var(--white);
    margin: 5px 5px;
    width: 1.5rem;
    height: .2rem;
}

  /* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    margin-top: 3px;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
}
  
  /* Links inside the dropdown */
.menu-content a {
    color: var(--blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu:hover .menu-content {display: block;}

.menu-link:hover {background-color: #FFFCF3 ;}

.menu-link:hover a {: }



.title {
    flex: 2;
    display: flex;
}

.title h1 {
    font-size: 1.75rem;
    margin: 9px;
    color: var(--white);
    text-align: center;
    flex-wrap: nowrap;

}

.nav {
    display: flex;
    flex: 5;
    justify-content: flex-end;
}

.nav ul li {
    display: inline-block;
    padding-top: 1rem;
}

.nav_link a {
    margin: auto;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 15px 0px 0px;
    color: var(--white);
}
