/* Base Colors throughout webpage */
:root {
  --blue: #36a0a5;
  --white: #fffbf0;
  --darkblue: rgb(37, 93, 121);
}
/* ----------------------------Main Elements in order of page (top-down)------------------------- */

header {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  background-color: var(--blue);
  margin: 0;
  width: 100%;
}

main {
  margin-top: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border: 4px solid var(--blue);
  border-radius: 0.5em;
}

h2 {
  text-align: center;
}

p {
  font-size: 18pt;
}

a {
  margin: 10px;
}

li {
  text-align: center;
  list-style-type: none;
  line-height: 25pt;
  font-size: 15pt;
}

#footer {
  background-color: var(--blue);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* ----------------------------Classes------------------------- */

.proj-cont {
  padding: 0;
}

.page-title-style {
  display: flex;
  color: var(--blue);
  text-align: center;
}

.page-title-style h1 {
  font-size: 40pt;
}

.page-section-styles {
  position: relative;
  border-radius: 10px;
  width: 90%;
  height: auto;
  padding: 3em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: var(--blue);
  color: white;
}

.about-me-underline {
  text-decoration: underline;
  text-decoration-color: var(--white);
}

.contact {
  display: inline-block;
}

.contact-info {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 15pt;
  text-decoration: none;
  color: var(--darkblue);
}

.mail::before {
  margin-right: 5px;
  content: "\2709";
  background-size: 100% 100%;
  display: inline-block;
  font-size: 37px;
}

.github::before {
  content: "";
  background-image: url("./lib/images/github-mark.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.linkedin::before {
  content: "";
  background-image: url("./lib/images/linkedin.svg");
  background-size: 100% 100%;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.download-logo {
  position: relative;
  right: 10px;
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0e5259;
  display: inline-block;
}

.download-logo:hover {
  color: #328c83;
  opacity: 0.5;
  transition: 0.5s ease;
}

.logo {
  font-size: 30pt;
  margin-bottom: 0.5em;
}

/* Dropdown Button */
.menu-button {
  height: 2.5rem;
  margin: 28px 20px;
  background-color: var(--blue);
  border-radius: 10px;
  border-color: var(--white);
}

/* color/dimensions for logo lines */
.menu-botton-logo {
  background-color: var(--white);
  margin: 5px 5px;
  width: 1.5rem;
  height: 0.2rem;
}

/* Dropdown Content (Hidden by Default) */
.menu-content {
  display: none;
  position: absolute;
  top: 5rem;
  padding: 0;
  background-color: var(--white);
  border-radius: 0px 40px;
  min-width: 160px;
  box-shadow: 15px 0px 16px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
}

/* Links inside the dropdown */
.menu-content a {
  color: var(--blue);
  padding: 15px 22px;
  text-decoration: none;
  display: block;
}

.name-container {
  display: flex;
  align-self: center;
}

.name-container img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border: none;
  border-radius: 150px;
}

.resume-info {
  display: inline;
  background-color: var(--white);
  border-radius: 5px;
  margin: 2em;
  color: var(--blue);
}

.resume-info-title {
  padding-top: 2em;
}

.resume-list-cont {
  padding: 0;
}

.section {
  margin: 50px 0px;
  display: flex;
}

/* -------------------------ID's----------------------------  */

#github-logo {
  position: absolute;
  border: none;
  border-radius: 0;
  width: 1.7em;
  left: -2em;
  bottom: -0.1em;
}

#linkedin-logo {
  position: absolute;
  border: none;
  border-radius: 0;
  width: 1.5em;
  left: -1.8em;
  bottom: -0.1em;
}

#name {
  color: var(--white);
  padding-right: 10px;
  font-size: 40pt;
  margin: 0px;
  align-self: flex-end;
}

/* -------------HOVER--------------------------------- */

/* hovering over menu allows content to appear */
.menu:hover .menu-content {
  display: block;
}
/* hovering over each link will slightly highlight background-color */
.menu-link:hover {
  background-color: #fffdf7;
}
/* as background-color lightens font-color changes dark blue to lighter blue */
.menu-link:hover a {
  color: var(--blue);
}

/* -------------------------MEDIA QUERIES-------------------------- */
@media screen and (min-width: 550px) {
  body {
    width: 100%;
  }
}
/* --------------------------------- */
@media screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }
  .menu-content {
    display: flex;
    position: relative;
    background: transparent;
    margin-left: 1em;
    top: 0.5em;
    border-radius: 40px;
    color: var(--white);
  }
  .menu:hover .menu-content {
    display: flex;
  }
  .menu-link:hover {
    background-color: #fffdf7;
    border-radius: 50px;
  }
}
